:root {
    --primary: #00b941;
    --normal: #ffffff;
    --black: #2e2e2e;
    --bg: #484848;
    --fblack: #000;
    --gblack: #202020;
    --danger: #a80d0d;
    --border: 0.2rem solid rgb(255, 255, 255, 0.3);

    --container-width-lg: 80%;
    --container-width-mg: 90%;
    --container-width-sm: 95%;
}

* {
    margin: 0;
    padding: 0;
    outline-offset: none;
    box-sizing: border-box;
    text-decoration: none;
    text-transform: capitalize;
    list-style: none;
    transition: all 0.5 linear;
    scroll-behavior: smooth;
}

.title {
    font-family: 'ITC Zapf Chancery', 'URW Chancery L', cursive;
}


::-webkit-scrollbar {
    width: 12px;
    border-radius: 100px;
}

::-webkit-scrollbar-track {
    background: var(--bg);
}

::-webkit-scrollbar-thumb {
    /* background: var(--primary); */
    background: radial-gradient(circle at -8.9% 5.2%, rgb(171, 9, 9) 8%,
            rgb(216, 42, 117) 5.9%, rgb(142, 23, 89) 5.9%, rgb(171, 24, 51) 5%,
            rgb(40, 51, 58) 30%, rgb(36, 39, 42) 50%);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--danger);
}

body {
    line-height: 1.5;
    color: var(--normal);
    background-color: var(--gblack);
}

.container {
    width: var(--container-width-lg);
    margin: auto;
}

/* p{
    padding-bottom: 1000px;
} */

section {
    padding: 6rem 0;
}

section h2 {
    text-align: center;
    margin-bottom: 4rem;
}

h1,
h2,
h3 {
    line-height: 1.3;
    color: bisque;
}

h1 {
    font-size: 2.5rem;
    color: bisque;
}

h2 {
    font-size: 1.8rem;
    color: rgb(211, 211, 211);
}

h3 {
    font-size: 1.4rem;
    color: bisque;
}

h4 {
    font-size: 1.2rem;
}

a {
    color: var(--normal);
}


/* ---------------------------------------------- */

html {
    /* cursor: none; */
    /* overflow: hidden; */
    color: #b4b4b4;
}

.mbox {
    position: absolute;
    animation: rotate 2.5s infinite linear;
    margin: 0;
    overflow: hidden;
    width: auto;
}

@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}


/* --------------------------------------------------------------- */
/* LOGO */

.logo {
    /* align-items: -20%; */
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: center; */
    /* font-size: 51px;
    width: 181px; */
    width: 60px;
    height: 60px;
    /* position: relative; */
    align-items: center;
    margin-left: 36px;
    margin-top: 3px;
    /* margin-bottom: -65px; */
    position: fixed;
    /* background-color: var(--black); */
    /* display: flex; */
    display: inline-block;
    background-color: transparent;
    border: solid 9px var(--fblack);
    border-radius: 50%;
    z-index: 999999999999999999999;
}

.logo .logo a {
    width: auto;
    height: 100%;
    /* align-items: center;
    overflow: hidden; */
    z-index: 999999999999999999999;
}

img {
    width: 100%;
    height: 40%;
    /* display: block; */
    /* object-fit: cover; */
    border-radius: 20%;
}

.header_container .header_left_img {
    overflow: hidden;
    position: relative;
    align-items: center;
    margin-top: 15px;
    border: 6px solid var(--black);
}

.btn {
    display: inline-block;
    background-color: var(--black);
    color: #e79393;
    padding: 0.5rem 1rem;
    border: 1.5px solid transparent;
    border-radius: 0.5rem;
    /* font-weight: 400; */
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
}

.btn:hover {
    color: #00b941;
    background-color: transparent;
    border-color: #00b941;
    transform: scale(.95);
    transition: all 0.3s ease-in-out 0.2s;
}

.border_button {
    text-align: center;
    display: inline-block;
    border-bottom: 2px solid #00b941;
    color: #00b941;
    margin-bottom: 2.2rem;
}



nav {
    /* background-color: var(--gblack); */
    /* font-family: 'ITC Zapf Chancery', 'URW Chancery L', cursive; */
    width: 99.6vw;
    height: 4.4rem;
    position: fixed;
    top: -1;
    z-index: 1000;
    /* margin-left: -51px; */
    /* background: radial-gradient(circle at -8.9% 5.2%, rgb(255, 0, 0) 8%,
            rgb(224, 51, 126) 5.9%, rgb(230, 42, 145) 5.9%, rgb(227, 45, 79) 5%,
            rgb(72, 72, 72) 30%, rgb(34, 35, 36) 50%); */
    font-family: 'ITC Zapf Chancery', 'URW Chancery L', cursive;
}


.nav_container {
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    border-top: 3rem;
    border-bottom: 4rem;
    /* margin-bottom: 50px; */
    /* margin-bottom: 12px; */
    border-radius: 10px;
    /* width: 100%; */
    background: radial-gradient(circle at -8.9% 5.2%, rgb(255, 0, 0) 8%,
            rgb(224, 51, 126) 5.9%, rgb(230, 42, 145) 5.9%, rgb(227, 45, 79) 5%,
            rgb(72, 72, 72) 30%, rgb(34, 35, 36) 50%);
    font-family: 'ITC Zapf Chancery', 'URW Chancery L', cursive;
}

.nav_container span {
    /* color: var(--fblack); */
    font-family: 'ITC Zapf Chancery', 'URW Chancery L', cursive;
    background: #47b756;
    background: -webkit-linear-gradient(to right, #32ff4e 35%, #4ede4e 32%, #ffffff 89%);
    background: linear-gradient(to right, #30ff4c 35%, #53ff44 32%, #ff0000 89%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 1000;
    font-size: 30px;
    overflow: hidden;
    display: inline-block;
    opacity: 1;
    transform: scale(.9);
    transition: all 0.3s ease-in-out 0.2s;
}

.nav_container span:hover {
    opacity: 1.3;
    transform: scale(1);
    transition: all 0.3s ease-in-out 0.2s;
}

.nav_container h4 {
    font-size: 2rem;
}

.nav_container h4::first-letter {
    font-size: 2.1rem;
}

.nav_containerh4:hover {
    color: var(--primary);
    transform: rotateX(360deg);
    transition-duration: 1.5s;
}

nav button {
    display: none;
}

.nav_menu {
    display: flex;
    align-items: center;
    gap: 3rem;
    color: #b50000;
    margin-right: 12px;
    font-family: 'ITC Zapf Chancery', 'URW Chancery L', cursive;

}

.nav_menu a {
    font-size: 1.3rem;
}

.nav_menu a:hover {
    color: var(--primary);
    border-bottom: 3px solid var(--primary);
    padding-bottom: 1rem;
    background-color: var(--black);
}






.services {
    text-align: center;
    margin-top: -5rem;
    justify-content: center;
    position: relative;
    margin-left: 7rem;
    margin-right: 7rem;
    /* font-family: Arial, Helvetica, sans-serif;
     */
    /* background-color: var(--black); */
    font-family: 'ITC Zapf Chancery', 'URW Chancery L', cursive;
    color: #ffffff;
    /* z-index: 999999; */

}

.services_container .cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3rem;
    width: 100%;

    font-family: 'ITC Zapf Chancery', 'URW Chancery L', cursive;

    text-transform: none;
    font-family: 'ITC Zapf Chancery', 'URW Chancery L', cursive;
    color: rgb(255, 255, 255);
    overflow: hidden;
    position: initial;
    text-align: justify;
}

.services_container .cards .card {
    /* background-color: var(--primary); */
    height: 500px;

    /* background: radial-gradient(circle at -16% 90%, rgb(159, 0, 0) 8%,
            rgb(107, 0, 16) 5.9%, rgb(116, 0, 64) 5.9%, rgb(84, 6, 22) 5%,
            rgb(58, 13, 30) 30%, rgb(25, 25, 25) 50%);
 */
    background: radial-gradient(circle at -8.9% 5.2%, rgb(117, 4, 4) 8%,
            rgb(70, 0, 15) 5.9%, rgb(80, 4, 46) 5.9%, rgb(114, 11, 30) 5%,
            rgb(35, 35, 35) 30%, rgb(34, 34, 35) 50%);

    padding: 1.5rem 1rem;
    margin: 1.5rem;
    cursor: pointer;
    position: relative;
    border-radius: 20px;
    text-align: justify;
    color: #4ECDC4;
    font-family: 'ITC Zapf Chancery',
        'URW Chancery L',
        cursive;
    border: 3px solid var(--fblack);
    text-transform: none;
    /* z-index: 9999; */
}

.sbox i {
    font-size: 2rem;
    width: 4rem;
    height: 4rem;
    color: var(--bg);
    /* border: 1px solid rgba(228, 228, 228, 0.5); */
    border-radius: 50%;
    padding: 15px;
    transition: all 1s;
    font-weight: bolder;
    background-color: #000;
}

.sbox h3 {
    font-size: 1.1rem;
    /* color: var(--bg); */
    color: #989898;
}

.sbox p {
    margin: 1.2rem 0;
    /* color: var(--bg); */
    color: #b5b5b5;
    margin-top: 30px;
    margin-bottom: 40px;
    text-transform: none;
    display: -webkit-box;
    -webkit-line-clamp: 9;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.sbox a {
    color: #bdbdbd;
    font-size: 1.1rem;
    font-weight: 2rem;
    padding: 0.3rem 1rem;
    background-color: var(--fblack);
    border-radius: 2rem;
    border: 2px solid var(--bg);

}

.sbox a:hover {
    background-color: var(--black);
    color: #9f9f9f;
    border: 1px solid var(--bg);
    z-index: 999999;
}

.services_container .cards .card:hover .sbox i {
    background-color: var(--bg);
    color: var(--normal);
}

.services_container .cards .card::after {
    content: "";
    height: 100%;
    width: 100%;
    /* background-color: var(--black); */
    background: radial-gradient(circle at -7% 40%, rgb(255, 0, 0) 8%,
            rgb(210, 26, 75) 5.9%, rgb(189, 15, 96) 5.9%, rgb(139, 18, 40) 5%,
            rgb(152, 23, 86) 30%, rgb(48, 48, 48) 70%);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.5s;
    border-radius: 21px;
    border: 3px solid var(--bg);
}

.services_container .cards .card:hover::after {
    transform: rotate(5deg);
}


.sbox h3{
    background-color: #000;
    width: 100%;
    padding: 5px;
    border-radius: 15px;

}



.footer_social_skill .social_skill {
    font-size: 40px;
    text-align: center;
    font-weight: bolder;
    color: #00eafff5;
    background-color: var(--fblack);

}
