:root {
    --primary: #00b941;
    --normal: #ffffff;
    --black: #2e2e2e;
    --bg: #484848;
    --fblack: #000;
    --gblack: #202020;
    --danger: #a80d0d;
    --border: 0.2rem solid rgb(255, 255, 255, 0.3);

    --container-width-lg: 80%;
    --container-width-mg: 90%;
    --container-width-sm: 95%;
}

* {
    margin: 0;
    padding: 0;
    outline-offset: none;
    box-sizing: border-box;
    text-decoration: none;
    text-transform: capitalize;
    list-style: none;
    transition: all 0.5 linear;
    scroll-behavior: smooth;
}

.title {
    font-family: 'ITC Zapf Chancery', 'URW Chancery L', cursive;
}


::-webkit-scrollbar {
    width: 12px;
    border-radius: 100px;
}

::-webkit-scrollbar-track {
    background: var(--bg);
}

::-webkit-scrollbar-thumb {
    /* background: var(--primary); */
    background: radial-gradient(circle at -8.9% 5.2%, rgb(171, 9, 9) 8%,
            rgb(216, 42, 117) 5.9%, rgb(142, 23, 89) 5.9%, rgb(171, 24, 51) 5%,
            rgb(40, 51, 58) 30%, rgb(36, 39, 42) 50%);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--danger);
}

body {
    line-height: 1.5;
    color: var(--normal);
    background-color: var(--gblack);
}

.container {
    width: var(--container-width-lg);
    margin: auto;
}

/* p{
    padding-bottom: 1000px;
} */

section {
    padding: 6rem 0;
}

section h2 {
    text-align: center;
    margin-bottom: 4rem;
}

h1,
h2,
h3 {
    line-height: 1.3;
    color: bisque;
}

h1 {
    font-size: 2.5rem;
    color: bisque;
}

h2 {
    font-size: 1.8rem;
    color: rgb(211, 211, 211);
}

h3 {
    font-size: 1.4rem;
    color: bisque;
}

h4 {
    font-size: 1.2rem;
}

a {
    color: var(--normal);
}


/* ---------------------------------------------- */

html {
    /* cursor: none; */
    /* overflow: hidden; */
    color: #b4b4b4;
}

.mbox {
    position: absolute;
    animation: rotate 2.5s infinite linear;
    margin: 0;
    overflow: hidden;
    width: auto;
}

@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}


/* --------------------------------------------------------------- */
/* LOGO */

.logo {
    /* align-items: -20%; */
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: center; */
    /* font-size: 51px;
    width: 181px; */
    width: 60px;
    height: 60px;
    /* position: relative; */
    align-items: center;
    margin-left: 36px;
    margin-top: 3px;
    /* margin-bottom: -65px; */
    position: fixed;
    /* background-color: var(--black); */
    /* display: flex; */
    display: inline-block;
    background-color: transparent;
    border: solid 9px var(--fblack);
    border-radius: 50%;
    z-index: 999999999999999999999;
}

.logo .logo a {
    width: auto;
    height: 100%;
    /* align-items: center;
    overflow: hidden; */
    z-index: 999999999999999999999;
}

img {
    width: 100%;
    height: 40%;
    /* display: block; */
    /* object-fit: cover; */
    border-radius: 20%;
}

.header_container .header_left_img {
    overflow: hidden;
    position: relative;
    align-items: center;
    margin-top: 15px;
    border: 6px solid var(--black);
}

.btn {
    display: inline-block;
    background-color: var(--black);
    color: #e79393;
    padding: 0.5rem 1rem;
    border: 1.5px solid transparent;
    border-radius: 0.5rem;
    /* font-weight: 400; */
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
}

.btn:hover {
    color: #00b941;
    background-color: transparent;
    border-color: #00b941;
    transform: scale(.95);
    transition: all 0.3s ease-in-out 0.2s;
}

.border_button {
    text-align: center;
    display: inline-block;
    border-bottom: 2px solid #00b941;
    color: #00b941;
    margin-bottom: 2.2rem;
}



nav {
    /* background-color: var(--gblack); */
    /* font-family: 'ITC Zapf Chancery', 'URW Chancery L', cursive; */
    width: 99.6vw;
    height: 4.4rem;
    position: fixed;
    top: -1;
    z-index: 1000;
    /* margin-left: -51px; */
    /* background: radial-gradient(circle at -8.9% 5.2%, rgb(255, 0, 0) 8%,
            rgb(224, 51, 126) 5.9%, rgb(230, 42, 145) 5.9%, rgb(227, 45, 79) 5%,
            rgb(72, 72, 72) 30%, rgb(34, 35, 36) 50%); */
    font-family: 'ITC Zapf Chancery', 'URW Chancery L', cursive;
}


.nav_container {
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    border-top: 3rem;
    border-bottom: 4rem;
    /* margin-bottom: 50px; */
    /* margin-bottom: 12px; */
    border-radius: 10px;
    /* width: 100%; */
    background: radial-gradient(circle at -8.9% 5.2%, rgb(255, 0, 0) 8%,
            rgb(224, 51, 126) 5.9%, rgb(230, 42, 145) 5.9%, rgb(227, 45, 79) 5%,
            rgb(72, 72, 72) 30%, rgb(34, 35, 36) 50%);
    font-family: 'ITC Zapf Chancery', 'URW Chancery L', cursive;
}

.nav_container span {
    /* color: var(--fblack); */
    font-family: 'ITC Zapf Chancery', 'URW Chancery L', cursive;
    background: #47b756;
    background: -webkit-linear-gradient(to right, #32ff4e 35%, #4ede4e 32%, #ffffff 89%);
    background: linear-gradient(to right, #30ff4c 35%, #53ff44 32%, #ff0000 89%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 1000;
    font-size: 30px;
    overflow: hidden;
    display: inline-block;
    opacity: 1;
    transform: scale(.9);
    transition: all 0.3s ease-in-out 0.2s;
}

.nav_container span:hover {
    opacity: 1.3;
    transform: scale(1);
    transition: all 0.3s ease-in-out 0.2s;
}

.nav_container h4 {
    font-size: 2rem;
}

.nav_container h4::first-letter {
    font-size: 2.1rem;
}

.nav_containerh4:hover {
    color: var(--primary);
    transform: rotateX(360deg);
    transition-duration: 1.5s;
}

nav button {
    display: none;
}

.nav_menu {
    display: flex;
    align-items: center;
    gap: 3rem;
    color: #b50000;
    margin-right: 12px;
    font-family: 'ITC Zapf Chancery', 'URW Chancery L', cursive;

}

.nav_menu a {
    font-size: 1.3rem;
}

.nav_menu a:hover {
    /* color: var(--primary); */
    border-bottom: 3px solid var(--primary);
    padding-bottom: 1rem;
    background-color: var(--black);
}




/* ============================ skill ===============================================*/

.nayem_skill {
    align-items: center;
    text-align: center;
    /* margin-left: 28%; */
    font-weight: 200;
    font-size:30px;
    font-family: 'ITC Zapf Chancery', 'URW Chancery L', cursive;
    color: rgb(174, 210, 190);
    margin-top: 50px;
    margin-left: 9.8%;
    margin-right: 9.9%;
    border-radius: 30px;
    padding: 15px;
    background-image: linear-gradient(to right, #111111 0%, rgb(52, 51, 51) 100%);

    text-transform: none;
    line-height: 4rem;
}


.nayem_skillall {
    margin-left: 2.2%;
    font-size: 25px;
    color: rgb(85, 158, 118);
    text-transform: none;

}


.allskills {
    display: grid;
    /* grid-template-columns: repeat(2, 1fr); */
    gap: 5rem;
    text-align: justify;
    /* align-items: center; */
    margin-top: 30PX;
    margin-bottom: 200px;
}


.pagetitle {
    font-family: 'ITC Zapf Chancery', 'URW Chancery L', cursive;
    color: rgb(209, 182, 131);
    margin-top: 55px;
}





/* footer---------------------------------- */


.footer_social_skill {
    text-align: center;
    font-size: 45px;
    background-color: var(--fglack);
    margin-top: 25%;
}

.footer_social_skill .social_skill {
    background-color: var(--fblack);  
}

#bottomskill {

    font-size: 45px;
    /* margin-bottom:-5px; */
}

